.modal{
	/* bootsrap thing...*/
	padding-right: 0 !important;
}
.cart_wrapper{
	margin-top: 150px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	border: 1px solid #159ad4;
	position: relative;
}

.cart_wrapper ._button.exit{
	position: absolute;
	top: -15px;
	right: -12px;
}
	@media(max-width: 991px){
		.cart_wrapper ._button.exit{
			right: 0;
		}
	}

.modal .cart_header{
	margin-top: 40px;
}
.cart_header{
	padding-bottom: 5px;
	/*margin-top: 40px;*/

	font-size: 18px;
	color: #3f3f3f;
	font-weight: 600;
	border-bottom: 2px solid #f3f3f3;
}

.cart_item{
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #f3f3f3;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
	@media(max-width: 992px){
		.cart_item{
			text-align: center;

			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}
			.cart_item *{
				margin-top: 15px;
			}
		.cart_item img{
			margin: 0 auto;
		}
	}

	.cart_item:last-child{
		border-bottom: 0;
	}
	.delete_cart_item{
		font-size: 16px;
		color: #159ad4;
		cursor: pointer;

		-webkit-transition: color .25s ease-in-out;
		-o-transition: color .25s ease-in-out;
		transition: color .25s ease-in-out;
	}
		.delete_cart_item:hover{
			color: #b73e40;
		}
	.cart_item_name{
		word-break: break-all;
		font-size: 19px;
		color: #0c0c0c;
	}
	.cart_item_name_bonus{
		padding-left: 15px;

		font-size: 14px;
		color: #0c0c0c;
	}

	.cart_item_price_wrapper{
		color: #009ad3;
		font-weight: 600;
		text-align: right;
	}	
		@media(max-width: 992px){
			.cart_item_price_wrapper{
				text-align: center;
			}
		}
		.cart_item_price{
			font-size: 20px;
			line-height: 20px;

			margin-bottom: 15px;
		}
		.cart_item_price_small{
			font-size: 14px;
			line-height: 14px;

			margin-bottom: 5px;
		}

/* cart_counter_wrapper */
.cart_counter_wrapper{
	width: 100px;
	margin: 0 auto;
}
	.cart_counter_wrapper *{
		float: left;
		height: 32px;
		line-height: 32px;
	}
	.cart_item_counter{
		width: 40px;
		border: none;

		font-size: 14px;
		color: #3f3f3f;
		text-align: center;
		background: url('images/cart_number.jpg') no-repeat 0 0;
	}
		.cart_item_counter:focus{
			outline: none;
		}
	.cart_minus,
	.cart_plus{
		width: 30px;
		cursor: pointer;
	}
		.cart_minus{
			background: url('images/cart_minus.jpg') no-repeat 0 0;
		}
		.cart_plus{
			background: url('images/cart_plus.jpg') no-repeat 0 0;
		}

.cart_footer{
	border-top: 2px solid #f3f3f3;
	padding-top: 25px;
}
	.continue_shopping_button{
		display: inline-block;
		margin-top: 10px;

		font-weight: 600;
		color: #0c0c0c;
		text-transform: uppercase;
		font-size: 16px;
		
		-webkit-transition: color .25s ease-in-out;
		transition: color .25s ease-in-out;
	}
	.continue_shopping_button:hover{
		color: #159ad4;
		text-decoration: none;
	}
	@media(max-width: 992px){
		._button.withInput{
			width: 80%;
		}
		.continue_shopping_button{
			margin-bottom: 15px;
		}
	}

	/* cart summ */
	.cart_summ{
		text-align: right;
		font-size: 18px;
		color: #3f3f3f;
		line-height: 24px;
	}
		@media(max-width: 992px){
			.cart_summ{
				text-align: center;
			}	
		}
		.cart_summ .total_eu{
			color: #009ad3;
			font-size: 24px;
			font-weight: 600;
		}
		.cart_summ .total_uah{
			font-size: 20px;
			color: #5a5b5b;
		}

/* if cart is empty */
.empty_state{
	margin: 130px 0 150px 0;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	color: #009ad3;
}
	@media(max-width: 767px){
		.empty_state{
			margin: 30px 0 50px 0;
		}
	}
	.empty_state i {
		position: relative;
		top: 18px;
		left: 0;
		font-size: 85px;
		margin-right: 20px;
	}