/* rewrite bootstrap */
.form-control{
	height: 43px;
	line-height: 43px;
	padding: 0 10px;
	border: 1px solid #009ad3;

	border-radius: 0;
	font-size: 14px;
	color: #3f3f3f;
}
label{
	margin-bottom: 5px;
	
	font-size: 16px;
	font-weight: 600;
	color: #0c0c0c;
}
	label span{
		color: #159ad4;
	}

.fields_required_text{
	font-size: 10px;
	color: #3f3f3f;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: 600;
}
	.fields_required_text span{
		color: #159ad4;
		font-size: 14px;
	}

select{
	appearance:none;
  -moz-appearance:none; 
  -webkit-appearance:none;
  cursor: pointer;
  background-image: url('images/select.jpg') !important;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 15px;
}