/*=== TOP PAGE NAVIGATION ===*/

/* page_nav */
.page_nav{
	float: right;
	width: 140px;
	text-align: center;
}
	@media(max-width: 768px){
		.page_nav{
			float: none;
			margin: 0 auto;
		}
	}

/* breadcrumbs */
/* "button" styles in - button.css */
.breadcrumb{
	padding: 0 0 0 15px;
}
	.breadcrumb .hove{}
	.breadcrumb .active{}

	.breadcrumb li{ 
		float: left;
		margin-right: 12px; 
	}
	.breadcrumb li:before,
	.breadcrumb li:after{
		display: none;
	}

