/*reset meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body { line-height: 1; } */
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{ margin: 0; }
.center{text-align: center;}


/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*==== COLORS ===*/
/*
 #201f1f header bg like
 #009ad3 blue
*/


/*=== GRID ===*/
html{ height: 100%; }
body{ 
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
	height: 100%; 

	font-size: 14px;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}
#header{ 
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
#wrapper{
	-webkit-box-flex: 1;
	  -webkit-flex: 1 0 auto;
	  -ms-flex: 1 0 auto;
	  flex: 1 0 auto;
}
#footer{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

/*=== BOOTSTRAP  ===*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
	.col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/*=== FONTSTYLE ===*/
.h1_style{}
.h2_style{
	font-size: 48px;
	text-transform: uppercase;
}
.ck_editor{

}

._icon_link{
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

  color: #fff;
}
  ._icon_link:hover{
    color: #159ad4;
    text-decoration: none;
  }

/*=== BREADCRUMBS ===*/
@media(min-width: 1200px) and (max-width: 1530px){
	.container{
		/*width: 90% !important;*/
		width: 1170px;
	}
}

/*=== FORMSTYLE ===*/

/*=== ANIMATION === */

/*=== CUSTOM FONT  ===*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qpa291');
  src:  url('fonts/icomoon.eot?qpa291#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qpa291') format('truetype'),
    url('fonts/icomoon.woff?qpa291') format('woff'),
    url('fonts/icomoon.svg?qpa291#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-welldo:before {
  content: "\e90c";
}
.icon-left-arrow:before {
  content: "\e900";
}
.icon-delete-button:before {
  content: "\e901";
}
.icon-close-envelope:before {
  content: "\e902";
}
.icon-facebook-logo:before {
  content: "\e903";
}
.icon-magnifying-glass:before {
  content: "\e904";
}
.icon-placeholder:before {
  content: "\e905";
}
.icon-shopping-cart-black-shape:before {
  content: "\e906";
}
.icon-skype-logo:before {
  content: "\e907";
}
.icon-telephone-handle-silhouette:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
.icon-youtube-logo:before {
  content: "\e90b";
}
.icon-right-arrow:before {
  content: "\e90a";
}