/*reset meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body { line-height: 1; } */
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{ margin: 0; }
.center{text-align: center;}


/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*==== COLORS ===*/
/*
 #201f1f header bg like
 #009ad3 blue
*/


/*=== GRID ===*/
html{ height: 100%; }
body{ 
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
	height: 100%; 

	font-size: 14px;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}
#header{ 
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
#wrapper{
	-webkit-box-flex: 1;
	  -webkit-flex: 1 0 auto;
	  -ms-flex: 1 0 auto;
	  flex: 1 0 auto;
}
#footer{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}


/*=== BOOTSTRAP  ===*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
	.col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/*=== FONTSTYLE ===*/
.h1_style{}
.h2_style{
	font-size: 48px;
	text-transform: uppercase;
}
.ck_editor{

}


/*=== BREADCRUMBS ===*/

/*=== BUTTONS ===*/
._button{
	text-align: center;
	position: relative;
	display: inline-block;

	background-color: #007bff;
}
	._button,
	._button:before,
	._button:after{
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	._button:before{
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 50px 10px;
		border-color: transparent transparent #007bff transparent;
	}
	._button:after{
		content: '';
		position: absolute;
		display: block;
		top: 0;
		right: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 50px 10px 0 0;
		border-color: #007bff transparent transparent transparent;
	}
	._button:hover{
		text-decoration: none;
	}
	/* TYPEOF button */
	._button.text{
		height: 50px;
		line-height: 50px;
		padding: 0 25px;
		
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 600;
		color: #0c0c0c;
	}
		._button.text:hover{
			color: #009ad3;
			background-color: #0c0c0c;
		}
		._button.text:hover:before{
			border-color: transparent transparent #0c0c0c transparent;
		}
		._button.text:hover:after{
			border-color: #0c0c0c transparent transparent transparent;
		}
	/* button cart*/
	._button.cart{
		height: 45px;
		line-height: 45px;
		padding: 0 5px;

		color: #fff;
	}
		._button.cart:hover{
			color: #0c0c0c;
		}

.item{
	background: red;
	color: #fff;
	text-align: center;
}
@media(min-width: 1200px) and (max-width: 1530px){
	.container{
		/*width: 90% !important;*/
		width: 1170px;
	}
}

/*=== FORMSTYLE ===*/

/*=== ANIMATION ===